/* mobile first */
body{
    background-color: aliceblue;
    font-family: "Inter", sans-serif;
}
.glide img{
    /* max-height: 20%; 
    width: auto; */
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container{
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header{
  display: flex;
  background-color: rgb(193, 235, 221);
  height: 90px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
header>ul{
  display: none;
}
header>p{
  font-weight: 700;
}
h1{
  margin: 20px 10px;
  font-weight: 600;
}
header>button{
  margin-left: 50%;
  height: 30px;
  background-color: blue;
  color: aliceblue;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  /* CSS for tablets and up */
  header{
    display: flex;
    background-color: aquamarine;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: center;

  }
  header >ul{
    display: flex;
    gap: 20px;
    
  }
}
@media screen and (min-width: 1024px) {
  /* CSS for laptops/desktops and up */
}